<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nova Postagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row class="ion-margin-top ion-no-padding">
      <ion-col size-md="6" offset-md="3" class="image-box ion-no-padding">
          <ion-img [ngClass]="{'ion-padding' : !imageUrl}" class="image ion-no-padding" [src]="imageUrl ? imageUrl : '../../../../assets/camera.png'"></ion-img>
          <ion-icon button name="close-circle-outline" class="close-icon" size="large" (click)="removeImage()"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-button color="primary" expand="block" (click)="addPhotoToGallery()">
          <ion-icon name="camera" slot="start"></ion-icon>
          <ion-label>Selecionar foto</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size-md="6" offset-md="3">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header >
            <ion-card-subtitle >
              <ion-label>
                <h3 class="title"> {{ "Selecione a categoria da publicação" }} </h3>
              </ion-label>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-segment value="elogio" (ionChange)="onSelectCategory($event)">

              <ion-segment-button value="elogio" class="elogio" checked>
                <ion-label>Elogio</ion-label>
                <ion-icon name="trophy-outline"></ion-icon>
              </ion-segment-button>

              <ion-segment-button value="alerta" class="alerta">
                <ion-label>Alerta</ion-label>
                <ion-icon name="warning-outline"></ion-icon>
              </ion-segment-button>

              <ion-segment-button value=critica class="critica">
                <ion-label>Crítica</ion-label>
                <ion-icon name="alert-circle-outline"></ion-icon>
              </ion-segment-button>

            </ion-segment>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size-md="6" offset-md="3">
        <div id="map"></div>
      </ion-col>
    </ion-row>
    
    <form [formGroup]="form">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-input
            type="text"
            autocorrect
            autocapitalize="true"
            label="Título"
            labelPlacement="floating"
            placeholder="Digite o título da postagem"
            formControlName="title"
          ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-textarea
            label="Descrição"
            labelPlacement="floating"
            fill="outline"
            placeholder="Descreva sua postagem"
            rows="3"
            formControlName="description"
          ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-button color="primary" expand="block" type="submit" (click)="onCreateNewPost()" [disabled]="form.invalid">
            <ion-label>Criar publicação</ion-label>
          </ion-button>

        </ion-col>
      </ion-row>
    </form>

  </ion-grid>

</ion-content>
